<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div
        class="sidebar-opener"
        (click)="showSidebar()"
    >
        <i class="bi bi-list"></i>
    </div>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div
        class="collapse navbar-collapse"
        id="navbarNavAltMarkup"
    >
        <div
            class="ml-auto"
            style="margin-right: 18px;"
        >
            <div
                class="d-inline-block"
                style="margin-right: 8px;"
            >
                <a
                    class="nav-item nav-link"
                    [routerLinkActive]="['active']"
                    [routerLink]="true ? '/profile' : '/login'"
                >
                    {{ true ? 'Profile' : 'Login' }}
                </a>
            </div>
            <div
                class="d-inline-block"
                style="cursor: pointer;"
                *ngIf="true"
            >
                <a class="nav-item nav-link">Logout</a>
            </div>
        </div>
    </div>
</nav>
