<!-- app.component.html -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/home">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/home">Home</a>
            <a class="nav-item nav-link" routerLink="/inventory">Inventory</a>
            <a class="nav-item nav-link" routerLink="/reports">Reports</a>
            <a class="nav-item nav-link" routerLink="/billing">Billing</a>
            <a class="nav-item nav-link" routerLink="/profile">Profile</a>
          </div>
        </div>
      </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
